<main class="main">
  <div class="content">
    <header class="header">
      <h1 class="header__title">Leve</h1>
      <form class="header__search-form">
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input
            type="text"
            matInput
            [formControl]="searchInput"
            placeholder="Search by name..."
          />
        </mat-form-field>
      </form>
    </header>
    <mat-divider></mat-divider>

    <form class="sort">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [formControl]="orderBy">
          @for (festivalKey of festivalKeys; track festivalKey) {
          <mat-option [value]="festivalKey.value">{{
            festivalKey.valueView
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>

    <ul class="festival-list">
      <li class="festival" *ngFor="let festival of festivals; index as i">
        <festival-card [festival]="festival" />
      </li>
    </ul>
    <mat-paginator
      (page)="handlePageEvent($event)"
      class="paginator"
      [length]="itemsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
