@import "leaflet/dist/leaflet.css";

.main {
  display: flex;
  flex-direction: column;
}

.sort {
  display: block;
  width: fit-content;
  margin: 1.25rem 2rem;
}

.festival-container {
  display: flex;
  padding: 0 2rem;
  gap: 2rem;

  @media screen and (max-width: 950px) {
      flex-direction: column-reverse;
    }
}

.festival-list {
  padding: 0;
  margin-top: 0;
}

.festival {
  list-style: none;
  max-width: 400px;
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.paginator {
  border-top: 1px solid #c4c6d0;
}

.festival-list,
.map-container {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (max-width: 950px) {
      width: 100%;
    }
}

.map-container {
  height: 600px;

  @media screen and (max-width: 950px) {
      height: 400px;
    }
}

.map-frame {
  height: 100%;
  border-radius: 12px;
  border: 1px solid #c4c6d0;
  overflow: hidden;
}

#map {
  height: 100%;
}