<main class="main">
  <form class="sort">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [formControl]="orderBy">
        @for (festivalKey of festivalKeys; track festivalKey) {
        <mat-option [value]="festivalKey.value">{{
          festivalKey.valueView
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  <div class="festival-container">
    <ul class="festival-list">
      <li class="festival" *ngFor="let festival of festivals; index as i">
        <festival-card [festival]="festival" />
      </li>
    </ul>
    <custom-map [mapItems]="mapItems" class="custom-map" />
  </div>

  <mat-paginator
    (page)="handlePageEvent($event)"
    class="paginator"
    [length]="itemsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
</main>
