.main {
  display: flex;
  flex-direction: column;
}

.sort {
  display: block;
  width: fit-content;
  margin: 1.25rem 2rem;

  @media screen and (max-width: 550px) {
    margin: 1.25rem 1rem;
  }
}

.festival-container {
  display: flex;
  padding: 0 2rem;
  gap: 2rem;

  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
  }
  
  @media screen and (max-width: 550px) {
    padding: 0 1rem;
  }
}

.festival-list {
  padding: 0;
  margin-top: 0;
}

.festival {
  list-style: none;
  max-width: 400px;
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.paginator {
  padding: 1rem;
  border-top: 1px solid #c4c6d0;
}

.festival-list,
.custom-map {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (max-width: 950px) {
      width: 100%;
    }
}

.custom-map {
  height: 600px;

@media screen and (max-width: 950px) {
    width: 100%;
    height: 400px;
  }
}