.map-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
}

.custom-map {
  height: 100%;
}

.sort {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  z-index: 9999999;
}

:host ::ng-deep .map-container__map-frame {
  border-radius: 0 !important;
}

.paginator {
  padding: 8px;
}