.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  &__title {
    margin: 1.25rem 0 1.25rem 2rem;
  }

  &__search-form {
    margin: 1.25rem 2rem 0 0;
  }
}
