:host {
  display: contents;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__map-frame {
    height: 100%;
    border-radius: 12px;
    border: 1px solid #c4c6d0;
    overflow: hidden;
  }
}   

#map {
  height: 100%;
}